{% extends 'base.html.twig' %}

{% block body %}
    {{ include('default/navigation_bar.html.twig') }}
    <div class="container">
        <div class="page-header">
            <h1>My advertisment list</h1>
        </div>
        {% for advertisment in advertisments %}
            <div class="col-sm-4">
              <h3>{{ advertisment.title }}</h3>
              <p>{{ advertisment.description }}</p>
              <p>Created: {{ advertisment.postingDate.format('Y-m-d H:i:s') }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
<style>
header {
    padding: 20px 0px;
}
</style>
{% endblock %}
